<div>
  <style type="text/css">/*
    .hatena-bookmark-button-frame { margin: 0.2em; }
    .twitter-share-button .twitter-tweet-button { margin: 0.2em; display:inline; }
    .fb-like .fb_iframe_widget { margin: 0.2em; display:inline; }*/
    #social-box {
      display: -webkit-box;
      display: -moz-box;
      text-align: left;
    }
    #social-box li {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      list-style-type: none;
      display: inline;
    }
  </style>
  <ul id="social-box">
  <li>
    <!-- Hatena Bookmark -->
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </li>
  <li>
    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="ReSTARTR" data-lang="ja">ツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </li>
  <li>
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=368671089894710";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
  </li>
</ul>
</div>
